/*
*
Font
*
*/

body {
    font-family: "Roboto", sans-serif;
    color: #2d3c49;
    font-size: 16px; 
    font-weight: 300;
}

h1 {
    font-size: 5.6vw;
}

h2 {
    font-size: 3.1vw;
}

h3 {
    font-size: 2.3vw;
}

h4 {
    font-size: 2.2vw;
}

p {
    font-size: 1.8vw;
    margin-top: 0.5em;
}

.small-font {
    font-size: 1.6vw;
}

.very-small-font {
    font-size: 1.3vw;
}

.text-soft {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.text-uppercase {
    font-weight: 400;
}

/*
*
Header
*
*/

/* How to turn color images to black and white and turn them back into color when you mouse over.\
I shared this method on Udacity forum: https: //discussions.udacity.com/t/how-to-turn-color-images-to-black-and-white-and-turn-them-back-into-color-when-you-mouse-over/231224 */

.fake-logo {
    margin-top: 20px;
    /* IE6-9: */
    filter: grayscale(100%);
    /* Google Chrome, Safari 6+ & Opera 15+:; */
    -webkit-filter: grayscale(100%);
    height: auto;
    width: 15vw;
}

.fake-logo:hover {
    /* IE6-9: */
    filter: none;
    /* Google Chrome, Safari 6+ & Opera 15+:; */
    -webkit-filter: grayscale(0);
}

.horizontal-rule {
    border: none;
    height: 3px;
    background-color: #7d97ad;
}

/*
*
Banner
*
*/

.banner {
    max-width: 100%;
    width: 100%;
}

/*
*
Footer
*
*/

.horizontal-rule-thin {
    border: none;
    height: 1px;
    background-color: #7d97ad;
}

[class*="zocial-"]:before {
    color: #7d97ad;
    display: inline-block;
    font-family: "zocial", sans-serif;
    width: 2em;
    margin: 0px 10px 10px 10px;
}

.social:hover [class*="zocial-"]:before {
    color: #02b3e4;
}

.click:hover {
    color: #02b3e4;
    text-decoration: underline;
    font-style: italic;
}

/*
*
Responsive
*
*/

@media screen and (max-width: 767px) {
    .banner {
        display: none;
    }
    
    img {
        width: 100vw;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

    .small-font {
        font-size: 0.7em;
    }

    .very-small-font {
        font-size: 0.6em;
    }
}